<div data-options= "dxView: {name: 'home'}">
    <div data-options="dxContent: {  targetPlaceholder: 'content'}">
        <div data-bind="dxTextArea:{value: displayText, disabled: true}" style="margin-left: 5%; margin-top: 5%; margin-right: 5%"></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'1', clickAction: function(){clickButton('1')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'2', clickAction: function(){clickButton('2')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'3', clickAction: function(){clickButton('3')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'+', clickAction: function(){clickButton('+')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'4', clickAction: function(){clickButton('4')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'5', clickAction: function(){clickButton('5')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'6', clickAction: function(){clickButton('6')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'-', clickAction: function(){clickButton('-')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'7', clickAction: function(){clickButton('7')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'8', clickAction: function(){clickButton('8')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'9', clickAction: function(){clickButton('9')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'*', clickAction: function(){clickButton('*')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'0', clickAction: function(){clickButton('0')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'.', clickAction: function(){clickButton('.')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'On/C', clickAction: function(){clickButton('c')}}" ></div>
        <div class="buttonNumber" data-bind="dxButton:{text:'/', clickAction: function(){clickButton('/')}}" ></div>
        <div id="buttonEqual" data-bind="dxButton:{text:'=', clickAction: function(){clickButton('=')}}" ></div>

     </div>
</div>
